---
import { featured } from '../assets/example';
import Carrousel from '../components/Carrousel.tsx';
import Featured from '../components/Featured.astro';
import Layout from '../layouts/Layout.astro';

 
---

<Layout title='Blanqueria' description='Blanqueria'>
  
  <article>
    <Carrousel client:visible/>
  </article>
  <section class="text-center mt-20 text-4xl">
    <h2>productos</h2>
    <Featured featured={featured}  />
  </section>


</Layout>
