---
interface Props {
  href?: string;
  target?: string;
}
---
<a class=" font-body tracking-[-1px] leading-[24.1401px] text-negro hover:text-tertiary transition-all duration-300 " href={Astro.props.href} target={Astro.props.target}><slot/></a>