---
import Button from '../components/Button.astro'
import {MobileMenu} from '../components/MobileMenu.tsx'
---

<ul class="flex items-center justify-between ">
  <div class="flex items-center">
    <img class="h-20 w-auto" src="/public/logo.png" alt="Logo" />
  </div>
  <div class="md:hidden">

    <MobileMenu client:media='(max-width: 768px)'   />
  </div>
  <div class=" flex-row gap-4 hidden md:flex px-8">
      <li><Button href='#inicio'>cama</Button></li>
      <li><Button href='#servicios'>toallas</Button></li>
      <li><Button href='#contacto'>almohadas</Button></li>
  </div>
</ul>
