---
import Button from '../components/Button.astro'
import {MobileMenu} from '../components/MobileMenu.tsx'
import Cart from './icons/Cart.astro'
---

<ul class="flex items-center justify-between ">
  <div class="flex items-center">
    <img class="h-20 w-auto" src="/public/logo.png" alt="Logo" />
  </div>
  <div class="md:hidden">

    <MobileMenu client:media='(max-width: 768px)'   />
  </div>
  <div class=" flex-row gap-4 hidden md:flex px-8 ">
    <li><Button href="/ropa-de-cama">ROPA DE CAMA</Button></li>
    <li><Button href="/toallas">TOALLAS</Button></li>
    <li><Button href="/edredones">EDREDONES</Button></li>
    <li><Button href="/cojines">COJINES</Button></li>
  </div>
  <div>
    <Cart />
  </div>

</ul>
